#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin: 0;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.main-screen-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding-top: 2%;
}

.main-screen-wrapper img {
  width: 50%;
  margin: 20px 0;
  height: 100px;
}

button {
  padding: 10px 16px;
  background: #0078e7;
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 2px;
}

li {
  font-size: 18px;
  padding: 10px 0;
  display: table-cell;
  text-transform: capitalize;
}

button:hover {
  background: #2160fd;
}

.margin-left {
  margin-left: 1rem;
}

.meeting-list-wrapper {
  background: #262626;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px 10px 10px 0;
}
.meeting-list-wrapper:hover {
  transform: scale(1.02);
  transition: all 0.2s ease-in;
}

.existing-meeting-wrapper {
  width: 100%;
  align-items: center;
}
.existing-meeting-list {
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* min-height: 300px; */
}

.existing-meeting-wrapper h3 {
  margin-bottom: 0rem;
}
input {
  padding: 10px;
}

.divider {
  height: 0.5px;
  width: 100%;
  background: #dddddd;
  margin-top: 1.5em;
  opacity: 0.5;
}

.no-rooms {
  background: #262626;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px 10px 10px 0;
}

.ex-det {
  margin: 20px 0;
}

.ex-det code {
  padding: 10px;
  background: #474747;
  border-radius: 4px;
}
